In [1]:
import sys
from pathlib import Path

project_root = Path().resolve().parents[0]
if str(project_root) not in sys.path:
    sys.path.append(str(project_root))

print("Project root added to sys.path:", project_root)

from src.data_loader import build_wb_dataframe

df = build_wb_dataframe()
df.head()

Project root added to sys.path: /workspaces/Gini-index-prediction
Downloading World Bank data (API)â€¦
  - downloading gini (SI.POV.GINI)
  - downloading gdp_pc (NY.GDP.PCAP.CD)
  - downloading gdp_growth (NY.GDP.MKTP.KD.ZG)
  - downloading population (SP.POP.TOTL)
  - downloading female_labor_participation (SL.TLF.ACTI.FE.ZS)
  - downloading labor_participation (SL.TLF.CACT.ZS)
  - downloading education_secondary_enrollment (SE.SEC.ENRR)
  - downloading urbanization (SP.URB.TOTL.IN.ZS)
  - downloading trade_openness (NE.TRD.GNFS.ZS)
  - downloading tax_revenue (GC.TAX.TOTL.GD.ZS)

,country,country_code,year,gini,gdp_pc,gdp_growth,population,female_labor_participation,labor_participation,education_secondary_enrollment,urbanization,trade_openness,tax_revenue
30,Afghanistan,AF,1990,NaN,NaN,NaN,12045660.0,16.264,47.251,11.039550,21.177,NaN,NaN
31,Afghanistan,AF,1991,NaN,NaN,NaN,12238879.0,16.213,47.198,17.183611,21.266,NaN,NaN
32,Afghanistan,AF,1992,NaN,NaN,NaN,13278974.0,16.130,47.137,NaN,21.355,NaN,NaN
33,Afghanistan,AF,1993,NaN,NaN,NaN,14943172.0,16.010,47.067,17.416910,21.444,NaN,NaN
34,Afghanistan,AF,1994,NaN,NaN,NaN,16250794.0,15.854,46.986,23.468580,21.534,NaN,NaN