In [1]:
import sys
from pathlib import Path

project_root = Path().resolve().parents[0]
src_path = project_root / "src"

if str(src_path) not in sys.path:
    sys.path.append(str(src_path))
    print("src added to sys.path:", src_path)
else:
    print("src already in sys.path:", src_path)


import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

clean_path = project_root / "data" / "inequality_clean.xlsx"

print("Loading clean data from:", clean_path)

df = pd.read_excel(clean_path)
df.head()

src added to sys.path: /workspaces/Gini-index-prediction/src

Loading clean data from: /workspaces/Gini-index-prediction/data/inequality_clean.xlsx

,country,country_code,year,gini,gdp_pc,gdp_growth,population,female_labor_participation,labor_participation,education_secondary_enrollment,urbanization,trade_openness,tax_revenue
0,Albania,AL,1996,27.0,1020.976181,7.336329,3168033,56.265,61.663,74.538918,39.473,44.411782,8.766251
1,Albania,AL,2002,31.7,1479.838846,4.628396,3051010,54.971,59.610,74.538918,43.501,65.991465,15.874764
2,Albania,AL,2005,30.6,2741.721365,5.130822,3011487,53.514,56.428,82.971428,46.731,69.116293,16.445818
3,Albania,AL,2008,30.0,4498.504868,6.907062,2947314,52.286,53.192,87.833839,49.991,75.248547,17.016872
4,Albania,AL,2012,29.0,4222.347099,0.984130,2900401,55.949,56.995,97.608612,54.330,76.968358,17.587927